html {
    background: url("img/background.jpg") no-repeat center fixed;
    background-size: cover;
}

img {
    width: 400px;
    margin: auto;
    display: block;
}

body {
    width: 700px;
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 25px;
    padding: 10px 100px;
    margin: 15px auto;
}